* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=========================
   HEADINGS, TEXT
=========================*/

/* Landing */
.landing-header h1 {
  margin-bottom: 1em;
  font: bold 7vh 'Noto Sans', sans-serif;
  color: #ffffff;
  text-align: center;
}
.landing-header h2 {
  margin-bottom: 3em;
  font: 3vh 'Source Sans Pro', sans-serif;
  color: #f2f3d9;
  text-align: center;
}

/* App Features */
.feature-description {
  width: 80%;
  font: bold 0.82em 'Noto Sans', sans-serif;
  color: #151e3f;
}

/* Customer's Success */
.customer-success-heading {
  font: bold 2.5em 'Noto Sans', sans-serif;
  color: #ffffff;
}
.customer-success-description {
  margin: 1.5em 0;
  font: 0.9em 'Source Sans Pro', sans-serif;
  color: #ffffff;
}

/* Contact */
.contact-heading {
  border-top: 5px solid #151e3f;
  padding-top: 1em;
  font: bolder 2.5em 'Noto Sans', sans-serif;
  text-transform: uppercase;
  line-height: 49px;
  color: #030027;
  text-shadow: 3px 7px 0px #ffb8b8c2;
}
.contact-us-description {
  margin: 2em 0;
  font: 1em 'Source Sans Pro', sans-serif;
}

/* Footer */
footer {
  color: #ffffff;
  font: 1em 'Noto Sans', sans-serif;
}
.footer-h3 {
  margin: 1em 0;
  text-transform: uppercase;
  color: #c16e70;
}
.footer-copyright {
  margin-top: 2em;
  text-align: center;
}
/*=========================
   LINKS AND BUTTONS
=========================*/

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* Navbar */
.page-links li a {
  font: 1em 'Noto Sans', sans-serif;
  color: #f2f3d9;
}

.page-links li a:focus,
.page-links li a:active {
  color: #c16e70;
}

/* Landing */
.landing-header .request-demo-button,
.submit-form {
  height: 2.5em;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.5em;
  background: #f5f89a;
  font: bolder 1em 'Noto Sans', sans-serif;
  color: #151e3f;
}
.landing-header .request-demo-button:hover,
.submit-form:hover {
  opacity: 0.9;
}
.landing-header .request-demo-button:active,
.landing-header .request-demo-button:focus,
.submit-form:active,
.submit-form:focus {
  background-color: #c16e70;
  color: #f2f3d9;
}

/* Contact */
.contact-us-description .bold-pink {
  color: #c16e70;
  font-weight: bolder;
}

/* Footer */
.footer-links-container a {
  display: block;
  margin: 1em 0;
  text-decoration: none;
  color: #ffffff;
}
.footer-contact-us li i {
  margin-right: 1em;
}
.footer-social-links i {
  font-size: 2em;
  color: #ffffff;
  margin-right: 0.5em;
}
.footer-special-link {
  color: #a8a8a8;
}
.footer-links-container a:hover,
.footer-social-links i:hover,
.footer-special-link:hover {
  opacity: 0.6;
}
.footer-links-container a:active,
.footer-social-links i:active,
.footer-special-link:active {
  color: #ffb8b8;
  opacity: 1;
}

/*=========================
   LISTS
=========================*/

ul {
  list-style-type: none;
}

/* Navbar */
.page-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.page-links li {
  margin: 0.5em;
}

/* Contact */
.contact-form li {
  margin: 0.8em 0;
}

/* Footer */
.footer-contact-us li {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

/*=========================
   FORMS
=========================*/
.contact-form input,
.contact-form select,
.contact-form textarea {
  outline: none;
  padding: 0.8em;
  width: 100%;
  border: 0.6px solid #a8a8a8;
  border-radius: 5px;
  font-family: bold Source Sans Pro, sans-serif;
}
.contact-form textarea {
  resize: none;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form input:active,
.contact-form select:active,
.contact-form textarea:active {
  border: 2px solid #c16e70;
}

/*=========================
   CONTAINERS
=========================*/

/* Navbar */
.logo-container {
  height: 3em;
  width: 10em;
  background: url('assets/company-logo.png') no-repeat center center/contain;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

/* Landing */
.landing-background-container {
  height: 100vh;
  position: relative;
  top: 0;
  background: -moz-linear-gradient(
    -45deg,
    rgba(3, 0, 39, 1) 0%,
    rgba(21, 30, 63, 0.93) 85%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(3, 0, 39, 1) 0%,
    rgba(21, 30, 63, 0.93) 85%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(3, 0, 39, 1) 0%,
    rgba(21, 30, 63, 0.93) 85%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030027', endColorstr='#ed151e3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.landing-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 3em 1em;
  height: 50vh;
}
.bars-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 8em;
  max-height: 9em;
  background: url('assets/Bars\ background.svg') repeat-x bottom center/contain;
}

/* App Features */
.app-features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em;
  text-align: center;
}
.feature-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 17em;
  width: 17em;
  margin: 0.5em 1em;
  padding: 1.5em;
  border-radius: 2em;
  border: 1px solid #c16e6fb7;
  background-color: #ffffff;
  filter: drop-shadow(-10px 10px 0px #c16e6f34 );
}

/* Customer's Success */
.customer-success {
  padding: 2.5em 2em;
  background: rgb(83, 84, 97); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(83, 84, 97, 1) 0%,
    rgba(132, 132, 132, 1) 76%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(83, 84, 97, 1) 0%,
    rgba(132, 132, 132, 1) 76%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(83, 84, 97, 1) 0%,
    rgba(132, 132, 132, 1) 76%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535461', endColorstr='#848484',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;
}

.customer-logos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.customer-logo {
  height: 6em;
  width: 8em;
  margin: 0.8em;
}

/* LOGO IMAGES */
.logo-bender {
  background: url('assets/logo-bender.png') no-repeat center center/contain;
}
.logo-hypex {
  background: url('assets/logo-hypex.png') no-repeat center center/contain;
}
.logo-flicker {
  background: url('assets/logo-flicker.png') no-repeat center center/contain;
}
.logo-satchy {
  background: url('assets/logo-satchy.png') no-repeat center center/contain;
}
.logo-moogle {
  background: url('assets/logo-moogle.png') no-repeat center center/contain;
}
/* Contact */
#contact {
  margin: 4em 3em;
}

.contact-form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0.1px solid #a8a8a898;
  background-color: #ffffff;
  padding: 2em;
  max-width: 30em;
  margin: auto;
}

/* Footer */
footer {
  padding: 2em;
  background-color: #060d27;
}

.footer-flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-page-links,
.footer-contact-us,
.footer-social-links {
  margin: 0 1em;
}

/*=========================
   DIVIDER
=========================*/
.divider {
  height: 0.5px;
  border: none;
  margin: 3em;
  color: #84848475;
  background-color: #84848475;
}

/*=========================
   MEDIA QUERIES
=========================*/

/* For small screens */
@media screen and (max-width: 767px) {
  /* Navbar */
  .nav-links-container {
    display: none;
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    padding: 1em;
    z-index: 2;
    background-color: #ffffff;
  }

  .nav-links-container .page-links {
    display: block;
  }

  .nav-links-container .page-links li {
    padding: 0.5em;
  }
  .nav-links-container .page-links li:not(:last-child) {
    border-bottom: 0.5px solid #a8a8a8;
  }

  .nav-links-container .page-links li a {
    font: 1.2em 'Source Sans Pro', sans-serif;
    color: #060d27;
  }

  /* Burger Icon - Default*/
  .burger-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 1.8em;
    width: 2em;
    z-index: 3;
    padding: 0.2em;
  }

  /* Burger Icon */
  .burger-icon-container .burger-icon,
  .burger-icon-container .burger-icon:before,
  .burger-icon-container .burger-icon:after {
    width: 100%;
    height: 3px;
    background-color: #ffb8b8;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .burger-icon-container .burger-icon {
    position: relative;
  }
  .burger-icon-container .burger-icon:before,
  .burger-icon-container .burger-icon:after {
    position: absolute;
    content: '';
    top: -7px;
  }
  .burger-icon-container .burger-icon:after {
    top: 7px;
  }

  /* Navbar expanded */
  .nav-links-container.expanded {
    display: block;
  }

  .burger-icon-container.expanded .burger-icon,
  .burger-icon-container.expanded .burger-icon:after,
  .burger-icon-container.expanded .burger-icon:before {
    top: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .burger-icon-container.expanded .burger-icon {
    background-color: transparent;
  }
  .burger-icon-container.expanded .burger-icon:after {
    transform: rotate(45deg);
  }
  .burger-icon-container.expanded .burger-icon:before {
    transform: rotate(-45deg);
  }

  /* Customer's Success */
  .customer-logo {
    margin: 0;
  }

  /* Contact */
  #contact {
    margin: 4em 2em;
  }
  .contact-form {
    padding: 1.5em;
  }

  /* Footer */
  .footer-flex-container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  /* Navbar */
  .page-links li a:hover {
    padding-bottom: 0.2em;
    color: #ffffff;
    border-bottom: 2px solid #fbff94;
  }
  .page-links li a:focus,
  .page-links li a:active {
    color: #ffb8b8;
    border-bottom: 2px solid #ffb8b8;
  }

  /* Contact */
  .name-form {
    display: flex;
  }

  .name-form li {
    flex: 1;
    margin-bottom: 0;
  }

  .name-form li:first-child {
    margin-right: 1em;
  }

  .header-svg-container {
    width: 100%;
    height: 20em;
    z-index: 0;
    background: url('assets/all-data.svg') no-repeat center center/contain;
  }
}

@media screen and (min-width: 1024px) {
  /* Landing */
  .navbar {
    padding: 1em 2em;
  }
  .landing-header {
    padding: 2em;
  }

  /* Contact */
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #contact .content {
    width: 50%;
    padding-right: 4em;
  }

  #contact .contact-form {
    width: 50%;
  }

  .contact-svg-container {
    width: 100%;
    height: 20em;
    z-index: 0;
    background: url('assets/get-started.svg') no-repeat center center/contain;
  }
}

@media screen and (min-width:1500px) {
    .navbar,
    .landing-header,
    #contact,
    .footer-flex-container {
      padding: 4em 10em;
      width: 70vw;
      margin: auto;
    }
}